@model PVA.Web.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - PVA</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/ui")

    @Styles.Render("~/Content/kendo")

    @Scripts.Render("~/Scripts/JQueryScripts")

    <style>
        .field-validation-error {
            color: red !important;
        }

        /*.btn-info, .btn-info.focus, .btn-info:focus, .btn-info:hover {
            background-color: #707c56 !important;
        }*/
    </style>
</head>
<body class="login-container">


    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Login")"><img src="@Url.Content("~/Content/img/logo.png")" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">

        </div>
    </div>
    <!-- /main navbar -->
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">

                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @autocomplete = "off", @role = "form" }))
                {
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                        <h5 class="content-group-lg">Login to your account <small class="display-block">Enter your credentials</small></h5>
                    </div>
                    <div class="form-group has-feedback has-feedback-left">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = "required", placeholder = "User name" })
                        @Html.ValidationMessageFor(m => m.UserName)
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>
                    <div class="form-group has-feedback has-feedback-left">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @required = "required", placeholder = "Password", @type = "password" })
                        @Html.ValidationMessageFor(m => m.Password)
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>
                    @*<div class="form-group login-options">
            <div class="row">
                <div class="col-sm-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" class="styled" checked="checked" id="rememberMe" onclick="RememberMeChk();">
                        Remember Me
                    </label>
                </div>

                <div class="col-sm-6 text-right">
                    <a href="@Url.Action("ForgotPassword", "Login")">Forgot password?</a>
                </div>
            </div>
        </div>*@
                    <br />
                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                    @if (TempData["Message"] != null)
                    {
                        <div>
                            @TempData["Message"].ToString()
                        </div>
                    }
                </div>
                }
            </div>
        </div>
    </div>


    @Scripts.Render("~/Scripts/LoginJQuery")
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {

        @*var errormessage = '@TempData[Enums.NotifyType.Error.GetDescription()]';
        var successmessage = '@TempData[Enums.NotifyType.Success.GetDescription()]';
        if (errormessage !== "") {
            ShowErrorMessage(errormessage);
        }

        if (successmessage !== "") {
            SucessMessage(successmessage);
        }*@
    });

    function ShowErrorMessage(msg) {
        new PNotify({
            text: msg,
            type: 'error'
        });
    }


    function SucessMessage(msg) {
        new PNotify({
            text: msg,
            type: 'success'
        });

    }

    function RememberMeChk() {
        var rememberMe = $('#rememberMe').is(":checked");
        $("#RememberMe").val(rememberMe);
    }
</script>

